<nav class="navbar-default navbar-static-side" role="navigation" ng-controller = "navigation_controller">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav metismenu" id="side-menu">

            <li>
                <a ui-sref="landing_page"> <span class="nav-label"><h2 style="margin-top:5px;margin-bottom:0px;">Met-DA</h2></span></a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="content.project_list"><i class="fa fa-list-ul"></i> <span class="nav-label">Project List</span> </a>
            </li>
            <li ui-sref-active="active" ng-show="$state.includes('content.new_project')">
                <a ui-sref="content.new_project"><i class="fa fa-plus-circle"></i> <span class="nav-label">New Projects</span> </a>
            </li>
            <li ui-sref-active="active" ng-hide="$state.includes('content.project_list') || $state.includes('content.new_project')">
                <a ui-sref="content.view_project"><i class="fa fa-clipboard"></i> <span class="nav-label">Selected Project</span> </a>
            </li>

            <!--<li ng-class="{active: $state.includes('content.data_transformation')}" ng-hide="$state.includes('content.project_list') || $state.includes('content.new_project')">
                <a href="#"><i class="fa fa-gear"></i> <span class="nav-label"> Data Transformation</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('content.data_transformation')}">
                    <li ui-sref-active="active"><a ui-sref="content.data_transformation.log">Log transformation</a></li>
                    <li ui-sref-active="active"><a ui-sref="content.data_transformation.power">Power transformation</a></li>
                </ul>
            </li>-->


            <li ng-class="{active: $state.includes('content.data_processing')}" ng-hide="$state.includes('content.project_list') || $state.includes('content.new_project')">
                <a href="#"><i class="fa fa-gear"></i> <span class="nav-label"> Data Processing</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('content.data_processing')}">
                    <!--<li ui-sref-active="active"><a ui-sref="content.data_processing.sample_normalization">Sample Normalization</a></li>-->
                    <li ui-sref-active="active"><a ui-sref="content.data_processing.data_transformation">Data Transformation</a></li>
                    <!--<li ui-sref-active="active"><a ui-sref="content.data_processing.data_scaling">Data Scaling</a></li>-->
                </ul>
            </li>


            <li ng-class="{active: $state.includes('content.descriptive_statistics')}" ng-hide="$state.includes('content.project_list') || $state.includes('content.new_project')">
                <a href="#"><i class="fa fa-pie-chart"></i> <span class="nav-label"> Descriptive Statistics</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('content.descriptive_statistics')}">
                    <li ui-sref-active="active"><a ui-sref="content.descriptive_statistics.fold_change">Fold Change</a></li>
                </ul>
            </li>


            <li ng-class="{active: $state.includes('content.hypothesis_testing')}" ng-hide="$state.includes('content.project_list') || $state.includes('content.new_project')">
                <a href="#"><i class="fa fa-superscript"></i> <span class="nav-label"> Hypothesis Testing</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('content.hypothesis_testing')}">
                    <li ui-sref-active="active"><a ui-sref="content.hypothesis_testing.t_test">t test<span class="label label-warning pull-right" ng-show="recommanded_hypothesis_tests.indexOf('t test') !== -1">recommanded</span></a></li>
                    <li ui-sref-active="active"><a ui-sref="content.hypothesis_testing.nonparametric_t_test">Mann Whitney U test<span class="label label-warning pull-right" ng-show="recommanded_hypothesis_tests.indexOf('nonparametric t test') !== -1">recommanded</span></a></li>
                    <li ui-sref-active="active"><a ui-sref="content.hypothesis_testing.paired_t_test">paired t test<span class="label label-warning pull-right" ng-show="recommanded_hypothesis_tests.indexOf('paired t test') !== -1">recommanded</span></a></li>
                    <li ui-sref-active="active"><a ui-sref="content.hypothesis_testing.nonparametric_paired_t_test">Wilcoxon signed-rank test<span class="label label-warning pull-right" ng-show="recommanded_hypothesis_tests.indexOf('nonparametric paired t test') !== -1">recommanded</span></a></li>
                    <li ui-sref-active="active"><a ui-sref="content.hypothesis_testing.anova">ANOVA<span class="label label-warning pull-right" ng-show="recommanded_hypothesis_tests.indexOf('ANOVA') !== -1">recommanded</span></a></li>
                    <li ui-sref-active="active"><a ui-sref="content.hypothesis_testing.nonparametric_anova">Kruskal–Wallis test<span class="label label-warning pull-right" ng-show="recommanded_hypothesis_tests.indexOf('nonparametric ANOVA') !== -1">recommanded</span></a></li>
                    <li ui-sref-active="active"><a ui-sref="content.hypothesis_testing.repeated_anova">repeated ANOVA<span class="label label-warning pull-right" ng-show="recommanded_hypothesis_tests.indexOf('repeated ANOVA') !== -1">recommanded</span></a></li>
                    <li ui-sref-active="active"><a ui-sref="content.hypothesis_testing.nonparametric_repeated_anova">Friedman Test<span class="label label-warning pull-right" ng-show="recommanded_hypothesis_tests.indexOf('nonparametric repeated ANOVA') !== -1">recommanded</span></a></li>
                    <li ui-sref-active="active"><a ui-sref="content.hypothesis_testing.two_way_anova">two-way ANOVA<span class="label label-warning pull-right" ng-show="recommanded_hypothesis_tests.indexOf('two way ANOVA') !== -1">recommanded</span></a></li>
                    <li ui-sref-active="active"><a ui-sref="content.hypothesis_testing.two_way_mixed_anova">two-way mixed ANOVA<span class="label label-warning pull-right" ng-show="recommanded_hypothesis_tests.indexOf('two way mixed ANOVA') !== -1">recommanded</span></a></li>
                </ul>
            </li>

            <li ng-class="{active: $state.includes('content.dimension_reduction')}" ng-hide="$state.includes('content.project_list') || $state.includes('content.new_project')">
                <a href="#"><i class="fa fa-joomla"></i> <span class="nav-label"> Multivariate Analysis</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('content.dimension_reduction')}">
                    <li ui-sref-active="active"><a ui-sref="content.dimension_reduction.pca">Principal Component Analysis</a></li>
                    <li ui-sref-active="active"><a ui-sref="content.dimension_reduction.pls">Partial Least Square</a></li>
                </ul>
            </li>

            <li ng-class="{active: $state.includes('content.visualization')}" ng-hide="$state.includes('content.project_list') || $state.includes('content.new_project')">
                <a href="#"><i class="fa fa-bar-chart-o"></i> <span class="nav-label"> Data Visualization</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('content.visualization')}">
                    <li ui-sref-active="active"><a ui-sref="content.visualization.boxplot">Boxplot</a></li>
                    <li ui-sref-active="active"><a ui-sref="content.visualization.barplot">Barplot</a></li>
                    <li ui-sref-active="active"><a ui-sref="content.visualization.linechart">Line Chart</a></li>
                </ul>
            </li>

            <li ng-class="{active: $state.includes('content.bimo')}" ng-hide="$state.includes('content.project_list') || $state.includes('content.new_project')">
                <a href="#"><i class="fa fa-ravelry"></i> <span class="nav-label"> Bimo<sup>SM</sup> plot generator</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('content.bimo')}">
                    <li ui-sref-active="active"><a ui-sref="content.bimo.scatter_plot">Scatter Plot</a></li>
                </ul>
            </li>


            <li ng-class="{active: $state.includes('content.filemanipulation')}" ng-hide="$state.includes('content.project_list') || $state.includes('content.new_project')">
                <a href="#"><i class="fa fa-wrench"></i> <span class="nav-label"> Other utiles</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('content.filemanipulation')}">
                    <li ui-sref-active="active"><a ui-sref="content.filemanipulation.subsetting">Data Subsetting</a></li>
                </ul>
            </li>





        </ul>

    </div>
</nav>
