<div class="row border-bottom" ng-controller = "topnavbar_controller as topnavbarCtrl">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <span minimaliza-sidebar></span>
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <li ng-hide="selected_project_name==''">
                <span class="m-r-sm text-muted welcome-message"> Project: <b>{{selected_project_name}}</b> is selected.</span>
            </li>
            <!--<li>
                <a ui-sref="login">
                    <i class="fa fa-sign-out"></i> Log out
                </a>
            </li>-->
            <li>
              <md-menu>
                <md-button aria-label="Open menu with custom trigger" class="md-icon-button" ng-click="open_tutorial_option($mdMenu, $event)">
                  <i class="fa fa-question-circle"></i>
                </md-button>
                <md-menu-content width="4" ng-mouseleave="close_tutorial_option($mdMenu, $event)">
                  <md-menu-item>
                    <md-button ng-click="open_tutorial_for_this_page($state.current.data.module_name)">
                      <i class="fa fa-info-circle"></i> Tutorial about this page
                    </md-button>
                  </md-menu-item>
                  <md-menu-item>
                    <md-button>
                      <i class="fa fa-youtube-square"></i> Watch Tutorial Video about this page
                    </md-button>
                  </md-menu-item>
                </md-menu-content>
              </md-menu>
            </li>


            <li>
                <a ng-click="$root.rightSidebar = !$root.rightSidebar">
                    <i class="fa fa-tasks"></i>
                </a>
            </li>
        </ul>

    </nav>
</div>
