<md-content layout-padding="">
<form>
  <p>1, File Format: </p>
  <label class="radio-inline" ng-repeat="file_format_option in file_format_options">
    <input type="radio" ng-model="file_format.value" value="{{file_format_option.value}}">{{file_format_option.text}}
  </label><br />


  <p>2, File name</p>
  <md-input-container class="md-block" flex-gt-sm="">
    <label>File Name</label>
    <input ng-model="file_name" type="text">
  </md-input-container>

  <md-button class="md-raised md-primary" type="submit" ng-click="save_plot()" ng-disabled="disable_save_button">Save</md-button>
  <p ng-show="disable_save_button" class='text-warning'>We are working on it. Please give us about one minute.</p>
  <a ng-href="{{download_href}}" ng-show="show_download_link" download="{{download_name}}">Ready! Click me to download.</a>


</form>
</md-content>
