<md-content>
    <div layout="column">
      <md-card ng-repeat="style in styles" ng-style="{ 'width' : actual_width[$index]*2+15}">
        <md-card-header>
          <md-card-avatar>
            <img ng-src="{{style.header_src}}"/>
          </md-card-avatar>
          <md-card-header-text>
            <span class="md-title">{{style.header_title}}</span>
            <span class="md-subhead">{{style.header_subhead}}</span>
          </md-card-header-text>
        </md-card-header>
        <!--<img ng-src="{{imagePath}}" class="md-card-image" alt="Washed Out">-->
        <div layout='row' ng-style="{'height' : actual_height[$index] }">
          <img ng-style="{ 'width' : actual_width[$index], 'height' : actual_height[$index] }" style="padding-left:5px; padding-right:5px" ng-src = "/ocpu/library/Abib.alpha/www/img/bimo/Scatter plot/{{style.original_plot_name}}">
          <div ng-attr-id="{{style.plot_id}}" ng-style="{ 'width' : actual_width[$index], 'height' : actual_height[$index] }" style="padding-right:5px"></div>
        </div>
        <div layout='row'>
          <div ng-style="{ 'width' : actual_width[$index]}" style="padding-left:5px; padding-right:5px" class="text-muted">original plot</div>
          <div ng-style="{ 'width' : actual_width[$index]}" style="padding-right:5px" class="text-muted">preview using your data</div>
        </div>

        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{style.title}}</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <p>
            {{style.description}}
          </p>
          <p>
            The original plot link: <a href="{{style.link}}" target="_blank">{{style.link}}</a>
          </p>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
          <md-button ng-click="select_style(style.plot_id)">Select</md-button>
        </md-card-actions>
      </md-card>
    </div>
  </md-content>
