<div ng-controller="hypothesisTestCtrl">
  <div class="row">
    <div class="col-lg-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Input for <span>{{$state.current.data.module_name}}</span></h5>
                    <div ibox-tools></div>
                </div>
                <div class="ibox-content">
                    <form name="input">
                      <div layout="row">
                        <md-input-container>
                        <label>Data Set</label>
                        <md-select placeholder="select a data set" ng-model="expression_id" ng-change="change_expression_id()" style="min-width: 200px;" name="expression_id" required="">
                            <md-option ng-repeat="expression_id_option in expression_id_options" value="{{expression_id_option.expression_id}}" ng-init="index = $index">{{expression_id_option.expression_text}}
                              <md-button class="md-icon-button" aria-label="Settings" ng-click="see_data_node(index)">
                                <i class="fa fa-question-circle"></i>
                              </md-button>
                            </md-option>
                        </md-select>
                            <div ng-messages="input.expression_id.$error">
                              <div ng-message="required">This is required.</div>
                            </div>
                        </md-input-container>
                      </div>

                      <div layout="row">
                        <md-input-container style="min-width: 150px;" ng-show="$state.current.data.module_name==='t test'||$state.current.data.module_name==='nonparametric t test'||$state.current.data.module_name==='ANOVA'||$state.current.data.module_name==='nonparametric ANOVA'||$state.current.data.module_name==='two way ANOVA'||$state.current.data.module_name==='two way mixed ANOVA'">
                          <label>Experimental Group</label>
                          <md-select ng-model="group_name" ng-change="change_group_name()" name="group_name" ng-required="$state.current.data.module_name==='t test'||$state.current.data.module_name==='nonparametric t test'||$state.current.data.module_name==='ANOVA'||$state.current.data.module_name==='nonparametric ANOVA'||$state.current.data.module_name==='two way ANOVA'||$state.current.data.module_name==='two way mixed ANOVA'">
                            <md-option ng-repeat="group_name_option in group_name_options" value="{{group_name_option}}">{{group_name_option}}</md-option>
                          </md-select>
                              <div ng-messages="input.group_name.$error">
                                <div ng-message="required">This is required.</div>
                              </div>
                        </md-input-container>



                        <md-input-container  ng-show="$state.current.data.module_name==='t test'||$state.current.data.module_name==='nonparametric t test'||$state.current.data.module_name==='ANOVA'||$state.current.data.module_name==='nonparametric ANOVA'||$state.current.data.module_name==='two way ANOVA'||$state.current.data.module_name==='two way mixed ANOVA'">
                          <label>Levels <small ng-show="$state.current.data.module_name==='t test'||$state.current.data.module_name==='nonparametric t test'||$state.current.data.module_name==='paired t test'||$state.current.data.module_name==='nonparametric paired t test'">(select two)</small><small ng-show="$state.current.data.module_name==='ANOVA'||$state.current.data.module_name==='nonparametric ANOVA'||$state.current.data.module_name==='repeated ANOVA'||$state.current.data.module_name==='nonparametric repeated ANOVA'">(select more than two groups)</small></label>
                          <md-select ng-model="levels" multiple=""  name="levels" ng-required="$state.current.data.module_name==='t test'||$state.current.data.module_name==='nonparametric t test'||$state.current.data.module_name==='ANOVA'||$state.current.data.module_name==='nonparametric ANOVA'||$state.current.data.module_name==='two way ANOVA'||$state.current.data.module_name==='two way mixed ANOVA'">
                              <md-option value="{{levels_option}}" ng-repeat="levels_option in levels_options">{{levels_option}}</md-option>
                          </md-select>
                              <div ng-messages="input.levels.$error">
                                <div ng-message="required">This is required.</div>
                              </div>
                        </md-input-container>

                    </div>
                    <div layout='row'>
                        <md-input-container style="min-width: 200px;" ng-show="$state.current.data.module_name==='paired t test'||$state.current.data.module_name==='nonparametric paired t test'||$state.current.data.module_name==='repeated ANOVA'||$state.current.data.module_name==='nonparametric repeated ANOVA'||$state.current.data.module_name==='two way mixed ANOVA'">
                          <label>Experimental Group (repeated)</label>
                          <md-select ng-model="group_name_r" ng-change="change_group_name_r()" name="group_name_r" ng-required="$state.current.data.module_name==='paired t test'||$state.current.data.module_name==='nonparametric paired t test'||$state.current.data.module_name==='repeated ANOVA'||$state.current.data.module_name==='nonparametric repeated ANOVA'||$state.current.data.module_name==='two way mixed ANOVA'">
                            <md-option ng-repeat="group_name_r_option in group_name_r_options" value="{{group_name_r_option}}">{{group_name_r_option}}</md-option>
                          </md-select>
                              <div ng-messages="input.group_r_name.$error">
                                <div ng-message="required">This is required.</div>
                              </div>
                        </md-input-container>
                        <md-input-container ng-show="$state.current.data.module_name==='paired t test'||$state.current.data.module_name==='nonparametric paired t test'||$state.current.data.module_name==='repeated ANOVA'||$state.current.data.module_name==='nonparametric repeated ANOVA'||$state.current.data.module_name==='two way mixed ANOVA'">
                          <label>Levels <small ng-show="$state.current.data.module_name==='t test'||$state.current.data.module_name==='nonparametric t test'||$state.current.data.module_name==='paired t test'||$state.current.data.module_name==='nonparametric paired t test'">(select two)</small><small ng-show="$state.current.data.module_name==='ANOVA'||$state.current.data.module_name==='nonparametric ANOVA'||$state.current.data.module_name==='repeated ANOVA'||$state.current.data.module_name==='nonparametric repeated ANOVA'">(select more than two groups)</small></label>
                          <md-select ng-model="levels_r" multiple="" ng-change="change_levels_r(levels_r)" name="levels_r" ng-required="$state.current.data.module_name==='paired t test'||$state.current.data.module_name==='nonparametric paired t test'||$state.current.data.module_name==='repeated ANOVA'||$state.current.data.module_name==='nonparametric repeated ANOVA'||$state.current.data.module_name==='two way mixed ANOVA'">
                              <md-option value="{{levels_r_option}}" ng-repeat="levels_r_option in levels_r_options">{{levels_r_option}}</md-option>
                          </md-select>
                              <div ng-messages="input.levels_r.$error">
                                <div ng-message="required">This is required.</div>
                              </div>
                        </md-input-container>

                      </div>


                      <div layout="row">
                        <md-input-container style="min-width: 150px;" ng-show="$state.current.data.module_name==='two way ANOVA'">
                          <label>Experimental Group2</label>
                          <md-select ng-model="group_name2" ng-change="change_group_name2()" name="group_name2" ng-required="$state.current.data.module_name==='two way ANOVA'">
                            <md-option ng-repeat="group_name2_option in group_name2_options" value="{{group_name2_option}}">{{group_name2_option}}</md-option>
                          </md-select>
                              <div ng-messages="input.group_name2.$error">
                                <div ng-message="required">This is required.</div>
                              </div>
                        </md-input-container>

                        <md-input-container style="min-width: 200px;" ng-show="$state.current.data.module_name==='two way repeated ANOVA'">
                          <label>Experimental Group2 (repeated)</label>
                          <md-select ng-model="group_name2_r" ng-change="change_group_name2_r()" name="group_name2_r" ng-required="$state.current.data.module_name==='two way repeated ANOVA'">
                            <md-option ng-repeat="group_name2_r_option in group_name2_r_options" value="{{group_name2_r_option}}">{{group_name2_r_option}}</md-option>
                          </md-select>
                              <div ng-messages="input.group_name2_r.$error">
                                <div ng-message="required">This is required.</div>
                              </div>
                        </md-input-container>

                        <md-input-container ng-show="$state.current.data.module_name==='two way ANOVA'">
                          <label>Levels <small ng-show="$state.current.data.module_name==='t test'||$state.current.data.module_name==='nonparametric t test'||$state.current.data.module_name==='paired t test'||$state.current.data.module_name==='nonparametric paired t test'">(select two)</small><small ng-show="$state.current.data.module_name==='ANOVA'||$state.current.data.module_name==='nonparametric ANOVA'||$state.current.data.module_name==='repeated ANOVA'||$state.current.data.module_name==='nonparametric repeated ANOVA'">(select more than two groups)</small></label>
                          <md-select ng-model="levels2" multiple="" ng-change="change_levels2(levels2)" name="levels2" ng-required="$state.current.data.module_name==='two way ANOVA'">
                              <md-option value="{{levels2_option}}" ng-repeat="levels2_option in levels2_options">{{levels2_option}}</md-option>
                          </md-select>
                              <div ng-messages="input.levels2.$error">
                                <div ng-message="required">This is required.</div>
                              </div>
                        </md-input-container>

                        <md-input-container ng-show="$state.current.data.module_name==='two way repeated ANOVA'">
                          <label>Levels <small ng-show="$state.current.data.module_name==='t test'||$state.current.data.module_name==='nonparametric t test'||$state.current.data.module_name==='paired t test'||$state.current.data.module_name==='nonparametric paired t test'">(select two)</small><small ng-show="$state.current.data.module_name==='ANOVA'||$state.current.data.module_name==='nonparametric ANOVA'||$state.current.data.module_name==='repeated ANOVA'||$state.current.data.module_name==='nonparametric repeated ANOVA'">(select more than two groups)</small></label>
                          <md-select ng-model="levels2_r" multiple="" ng-change="change_levels2_r(levels_r)" name="levels2_r" ng-required="$state.current.data.module_name==='two way repeated ANOVA'">
                              <md-option value="{{levels2_r_option}}" ng-repeat="levels2_r_option in levels2_r_options">{{levels2_r_option}}</md-option>
                          </md-select>
                              <div ng-messages="input.levels2_r.$error">
                                <div ng-message="required">This is required.</div>
                              </div>
                        </md-input-container>

                      </div>




                      <div layout="row" ng-show="$state.current.data.module_name==='ANOVA'||(($state.current.data.module_name==='two way ANOVA'||$state.current.data.module_name==='two way mixed ANOVA') && !nonparametric_pipeline)">
                        <md-input-container style="margin-right: 10px;">
                          <label>Post hoc analysis for {{group_name}}</label>
                          <md-select ng-model="post_hoc_test_type" ng-required="$state.current.data.module_name==='ANOVA'||(($state.current.data.module_name==='two way ANOVA'||$state.current.data.module_name==='two way mixed ANOVA') && !nonparametric_pipeline)">
                            <md-option ng-repeat="post_hoc_test_type_option in post_hoc_test_type_options" value="{{post_hoc_test_type_option.value}}">{{post_hoc_test_type_option.text}}</md-option>
                          </md-select>
                        </md-input-container>
                      </div>

<!--!!!-->
                      <div layout="row" ng-show="$state.current.data.module_name==='nonparametric ANOVA'||(($state.current.data.module_name==='two way ANOVA'||$state.current.data.module_name==='two way mixed ANOVA') && nonparametric_pipeline)">
                        <md-input-container style="margin-right: 10px;">
                          <label>Post hoc analysis for {{group_name}}</label>
                          <md-select ng-model="nonparametric_post_hoc_test_type" ng-required="$state.current.data.module_name==='nonparametric ANOVA'||(($state.current.data.module_name==='two way ANOVA'||$state.current.data.module_name==='two way mixed ANOVA') && nonparametric_pipeline)">
                            <md-option ng-repeat="nonparametric_post_hoc_test_type_option in nonparametric_post_hoc_test_type_options" value="{{nonparametric_post_hoc_test_type_option.value}}">{{nonparametric_post_hoc_test_type_option.text}}</md-option>
                          </md-select>
                        </md-input-container>
                      </div>

                      <div layout="row" ng-show="$state.current.data.module_name==='repeated ANOVA'||($state.current.data.module_name==='two way mixed ANOVA' && !nonparametric_pipeline)">
                        <md-input-container style="margin-right: 10px;">
                          <label>Post hoc analysis for {{group_name}}</label>
                          <md-select ng-model="post_hoc_test_type_r" ng-required="$state.current.data.module_name==='repeated ANOVA'||($state.current.data.module_name==='two way mixed ANOVA' && !nonparametric_pipeline)">
                            <md-option ng-repeat="post_hoc_test_type_r_option in post_hoc_test_type_r_options" value="{{post_hoc_test_type_r_option.value}}">{{post_hoc_test_type_r_option.text}}</md-option>
                          </md-select>
                        </md-input-container>
                      </div>

                      <div layout="row" ng-show="$state.current.data.module_name==='nonparametric repeated ANOVA'||($state.current.data.module_name==='two way mixed ANOVA' && nonparametric_pipeline)">
                        <md-input-container style="margin-right: 10px;">
                          <label>Post hoc analysis for {{group_name}}</label>
                          <md-select ng-model="nonparametric_post_hoc_test_type_r" ng-required="$state.current.data.module_name==='nonparametric repeated ANOVA'||($state.current.data.module_name==='two way mixed ANOVA' && nonparametric_pipeline)">
                            <md-option ng-repeat="nonparametric_post_hoc_test_type_r_option in nonparametric_post_hoc_test_type_r_options" value="{{nonparametric_post_hoc_test_type_r_option.value}}">{{nonparametric_post_hoc_test_type_r_option.text}}</md-option>
                          </md-select>
                        </md-input-container>
                      </div>


                      <div layout="row">
                        <md-input-container style="min-width: 150px;" ng-show="$state.current.data.module_name==='paired t test'||$state.current.data.module_name==='nonparametric paired t test'||$state.current.data.module_name==='repeated ANOVA'||$state.current.data.module_name==='nonparametric repeated ANOVA'||$state.current.data.module_name==='two way mixed ANOVA'">
                          <label>Sample ID column</label>
                          <md-select ng-model="sample_ID_name" ng-change="change_sample_ID_name()" name="sample_ID_name" ng-required="$state.current.data.module_name==='paired t test'||$state.current.data.module_name==='nonparametric paired t test'||$state.current.data.module_name==='repeated ANOVA'||$state.current.data.module_name==='nonparametric repeated ANOVA'||$state.current.data.module_name==='two way mixed ANOVA'">
                            <md-option ng-repeat="sample_ID_name_option in sample_ID_name_options" value="{{sample_ID_name_option}}">{{sample_ID_name_option}}</md-option>
                          </md-select>
                              <div ng-messages="input.sample_ID_name.$error">
                                <div ng-message="required">This is required.</div>
                              </div>
                        </md-input-container>
                      </div>
                      <div layout='row'>
                        <div flex-gt-sm="50" ng-show="$state.current.data.module_name==='repeated ANOVA'||$state.current.data.module_name==='two way mixed ANOVA'">
                          <md-checkbox md-no-ink="" aria-label="Correct for sphericity" ng-model="sphericity_correction" class="md-primary">
                            Correct for sphericity
                          </md-checkbox>
                        </div>
                      </div>

                      <div flex-gt-sm="50" ng-show="$state.current.data.module_name==='two way ANOVA'||$state.current.data.module_name==='two way mixed ANOVA'">
                        <md-checkbox md-no-ink="" aria-label="Use nonparametric tests" ng-model="nonparametric_pipeline" class="md-primary">
                          Use nonparametric pipeline
                        </md-checkbox>
                      </div>

                      <div layout="row">
                        <md-input-container style="min-width: 120px;" ng-show="($state.current.data.module_name==='t test'||$state.current.data.module_name==='ANOVA'||$state.current.data.module_name==='two way ANOVA')||$state.current.data.module_name==='two way mixed ANOVA'&&!nonparametric_pipeline">
                          <label>Variance equality</label>
                          <md-select ng-model="type">
                              <md-option value="Normal"> Equal </md-option>
                              <md-option value="Welch"> Not Equal </md-option>
                          </md-select>
                        </md-input-container>
                      </div>


                      <div layout="row">
                        <md-input-container style="min-width: 100px;" ng-show="$state.current.data.module_name==='t test'||$state.current.data.module_name==='paired t test'||$state.current.data.module_name==='nonparametric t test'||$state.current.data.module_name==='nonparametric paired t test'">
                          <label>Test sideness:</label>
                          <md-select ng-model="direction" md-selected-text="get_direction_text()">
                              <md-option value="less">less: {{levels[0]}} &lt; {{levels[1]}}</md-option>
                              <md-option value="two.sided">two sided: {{levels[0]}} &ne; {{levels[1]}}</md-option>
                              <md-option value="greater">greater: {{levels[0]}} &lt; {{levels[1]}}</md-option>
                          </md-select>
                        </md-input-container>
                      </div>
                      <div>
                        <md-button type="submit" class="md-raised md-primary" ng-click="input.$valid && submit($state.current.data.function_name)" ng-disabled="calculating"><span ng-hide="calculating">Submit</span><i class="fa fa-spinner fa-spin" ng-show="calculating"></i></md-button>
                        <md-button class="md-raised md-primary" ng-click="save_result()" ng-show="show_save_result && !calculating" ng-disabled="saving">Save the result</md-button>
                        <div ui-view></div>
                      </div>
                    </form>
                </div>
            </div>
        </div>

    <div class="col-lg-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Report</h5>
                    <div ibox-tools></div>
                </div>
                <div class="ibox-content" ng-show="analysis_finished" style='max-height:500px;overflow-y:scroll'>
                  <p>{{report_text}}</p>
                </div>
            </div>
        </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Table</h5>

                    <div>
                      <div class="ibox-tools dropdown" uib-dropdown="">
                      <a ng-click="refresh_table()" > <i class="fa fa-refresh"></i></a>
                      </div>
                    </div>
                </div>
                <div class="ibox-content">
                  <dtable ng-if="table_ready" options="table_options" rows="table_data"  class="material" selected="table_selected" style="min-height:550px;" on-row-click="on_table_row_click(row)"></dtable>
                </div>
            </div>
        </div>
    <div class="col-lg-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Graph</h5>
                    <div ibox-tools></div>
                </div>
                <div class="ibox-content" ng-show="analysis_finished">
                  <div ng-cloak="">
                    <md-content>
                      <md-tabs md-dynamic-height="" md-border-bottom="">
                        <md-tab label="venn" ng-if="show_venn">
                          <md-content class="md-padding">
                            <div class="row">
                              <div class="col-lg-8">
                                <div id="venn"></div>
                              </div>
                              <div class="col-lg-4">
                                <md-input-container>
                                <label>Search variable</label>
                                <input id="search-field" type="text" style="margin-top:8px" /><span  id="search-status" class="label label-info" style="vertical-align: 16px; margin-left: -35px;"></span>
                                </md-input-container>
                                <md-switch ng-model="jvenn" aria-label="Reverse Order" class="md-primary" ng-change="switch_jvenn(jvenn)">Reverse Order: {{ jvenn }}</md-switch>
                              </div>

                            </div>

                          </md-content>
                        </md-tab>
                        <md-tab label="significancy_heatmap" ng-if="show_significancy_heatmap">
                          <md-content class="md-padding">
                            <div class="row">
                              <div class="col-lg-12">
                                <div id="significancy_heatmap"></div>
                              </div>
                            </div>
                          </md-content>
                        </md-tab>
                        <md-tab label="pie" ng-if="show_pie_chart">
                          <md-content class="md-padding">
                            <div class="row">
                              <div class="col-md-8">
                                <small ng-show='$state.current.data.module_name=="ANOVA"||$state.current.data.module_name=="nonparametric ANOVA"||$state.current.data.module_name=="repeated ANOVA"||$state.current.data.module_name=="nonparametric repeated ANOVA"'>click significancy Heatmap to display pie chart.</small>
                                <div id="pie"></div>
                              </div>
                              <div class="col-md-4" style='max-height:454px;overflow-y:scroll;'>
                                <p>Selected compounds. (<span style="color:red;">increase</span>	&nbsp;<span style="color:green;">decrease</span>)</p>
                                <p ng-repeat="selected_data in selected_datas" style='color:{{selected_data_colors[$index]}}'>{{selected_data.label}}; </p>
                              </div>
                            </div>
                          </md-content>
                        </md-tab>
                        <md-tab label="two_way_boxplot" ng-if="$state.current.data.module_name=='two way ANOVA'||$state.current.data.module_name=='two way mixed ANOVA'">
                          <small>click Table to display two-way boxplot</small>
                          <md-content class="md-padding">
                            <div id="two_way_boxplot"></div>
                          </md-content>
                          <md-switch ng-model="two_way_box_plot_order" aria-label="Reverse Order" class="md-primary" ng-change="switch_two_way_box_plot_order(two_way_box_plot_order)">
                            Reverse Order: {{ two_way_box_plot_order }}
                          </md-switch>
                        </md-tab>
                        <md-tab label="one_way_boxplot" ng-if='$state.current.data.module_name=="t test"||$state.current.data.module_name=="nonparametric t test"||$state.current.data.module_name=="paired t test"||$state.current.data.module_name=="nonparametric paired t test"||$state.current.data.module_name=="ANOVA"||$state.current.data.module_name=="nonparametric ANOVA"||$state.current.data.module_name=="repeated ANOVA"||$state.current.data.module_name=="nonparametric repeated ANOVA"'>
                          <md-content class="md-padding">
                            <small>click Table to display one-way boxplot</small>
                            <div id="one_way_boxplot"></div>
                          </md-content>
                        </md-tab>

                      </md-tabs>
                    </md-content>
                  </div>
                </div>
            </div>


        </div>
  </div>
</div>
