
<div class="wrapper wrapper-content animated fadeIn" ng-controller = "create_new_project_controller as create_new_projectCtrl">
  <md-content layout-padding="" class="white-bg">
    <div layout="row" layout-align="end center">
      <md-button class="md-warn md-hue-2" ng-click="download_example_file()"><i class="fa fa-download"></i> Example File</md-button>
      <md-button ng-click="see_file_requirement()"><i class="fa fa-exclamation-circle"></i></md-button>
    </div>

    <form name="new_project_form">
      <!--upload files-->
      <div class="form-group"><label>Upload File</label>
        <div class="fileinput fileinput-new input-group" data-provides="fileinput">
            <div class="form-control" data-trigger="fileinput"><i class="glyphicon glyphicon-file fileinput-exists"></i> <span class="fileinput-filename"></span></div>
            <span class="input-group-addon btn btn-default btn-file">
              <span class="fileinput-new">Select file</span>
              <span class="fileinput-exists">Change</span>
              <input type="file" name="..." accept=".xlsx" required="" custom-on-file-change="uploadFile">
            </span>
            <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
        </div>
      </div>

      <!--Study design factor-->
      <div layout="row">
        <md-input-container class="md-block" flex="25" required="">
          <label>Study Design</label>
          <md-select ng-model="multiple.new_project_study_design" multiple="" ng-change="limit_study_design_to_2(multiple.new_project_study_design)">
            <md-option ng-value="available_new_project_study_design" ng-repeat="available_new_project_study_design in available_new_project_study_designs">{{available_new_project_study_design}}</md-option>
          </md-select>
        </md-input-container>
        <md-input-container flex="25">
          <label>Factor 1 type</label>
          <md-select ng-model="study_design_type1" required="">
            <md-option value="independent">independent</md-option>
            <md-option value="repeated">repeated</md-option>
          </md-select>
        </md-input-container>
        <md-input-container flex="25" ng-show="multiple.new_project_study_design.length>1">
          <label>Factor 2 type</label>
          <md-select ng-model="study_design_type2" ng-required = "multiple.new_project_study_design.length>1">
            <md-option value="independent">independent</md-option>
            <md-option value="repeated">repeated</md-option>
          </md-select>
        </md-input-container>
        <md-input-container flex="25" ng-show="study_design_type1 == 'repeated' || study_design_type2 == 'repeated' " >
          <label>sample id</label>
          <md-select ng-model="sample_id" ng-required="study_design_type1 == 'repeated' || study_design_type2 == 'repeated'">
            <md-option ng-repeat="sample_id_option in sample_id_options" value="{{sample_id_option}}">{{sample_id_option}}</md-option>
          </md-select>
        </md-input-container>
      </div>
      <!--project name-->
      <md-input-container>
        <label>Project Name</label>
        <input md-maxlength="30" required="" name="new_project_name" ng-model="new_project_name">
        <div ng-messages="new_project_name.$error">
          <div ng-message="required">This is required.</div>
          <div ng-message="md-maxlength">The description must be less than 30 characters long.</div>
        </div>
      </md-input-container>
      <!--Project Description-->
      <md-input-container class="md-block">
        <label>Project Description</label>
        <textarea ng-model="new_project_description" md-maxlength="1000" rows="3"></textarea>
      </md-input-container>

    <md-button type="submits" class="md-raised md-primary" ng-bind-html="submit_button_html" ng-disabled="being_submitted" ng-click="new_project_form.$valid && submit()"></md-button>
    <md-button class="md-warn" ng-click="preview()">Preview</md-button>

    </form>
    <div class="text-warning" ng-bind-html="warning_message"></div>
    <!--preview data-->
    <div class="tabs-container" ng-show = "show_preview">
       <label>Preview</label>
        <uib-tabset class="tabs-right">
            <uib-tab heading="sample info">
                <div class="panel-body">
                  <table datatable="" dt-options="dtOptions_sample_info" dt-columns="dtColumns_sample_info" class="row-border hover"></table>
                </div>
            </uib-tab>
            <uib-tab heading="metabolite info">
                <div class="panel-body">
                    <table datatable="" dt-options="dtOptions_metabolite_info" dt-columns="dtColumns_metabolite_info" class="row-border hover"></table>
                </div>
            </uib-tab>
        </uib-tabset>
    </div>
  </md-content>

</div>


