<!DOCTYPE html>
<div id="page-top" class="white-bg" ng-controller = "landing_page_controller">


    <div class="middle-box text-center animated fadeInDown" style="max-width:800px; height:800px;padding-top:300px;">
        <h1>Met-DA</h1>
        <h3 class="font-bold">Welcome!</h3>

        <div class="error-desc">
            <p class="animated fadeInLeft">Met-DA is a freely available tool meticulously designed for metabolomics data analysis.</p>
            <md-button class="md-primary md-raised animated fadeInRight" ng-click="go()">Let's get started!</md-button>
            <md-button class="md-warn md-raised animated fadeInLeft" ng-click="subscribe_prompt($event)">Subscribe</md-button>
        </div>
    </div>






</div>

