
<div class="row" style="margin-top:5px" ng-controller = "project_list_controller">


   <div class='text-center css-animation-box animated fadeInLeft' ng-show="no_project"><h1 class='text-navy animated fadeInLeft'>Let's create a new project</h1><h4>It seems that you don't have any project yet. Let's create one!</h4></div>

<div class="wrapper wrapper-content">
<div class="ibox">
<div class="ibox-title">
    <h5>All projects assigned to this computer</h5>
    <div class="ibox-tools">
        <a href="" class="btn btn-primary btn-xs" ng-click='create_new_project()'>Create new project</a>
    </div>
</div>
<div class="ibox-content">
        <div class="project-list">
            <table class="table table-hover animated fadeInUp">
              <thead>
                <tr>
                  <th>Status</th>
                  <th>Project Name</th>
                  <th>Created Time</th>
                  <th>Size</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="project in projects">
                    <td class="project-status">
                        <span class="label" ng-class="{'label-primary': project.status=='Owned' && !project.project_name==selected_project_name, 'label-primary': !project.status=='Owned' && !project.project_name==selected_project_name, 'label-success': project.project_name==selected_project_name}">{{project.project_name==selected_project_name? 'Selected':project.status}}</span>
                    </td>
                    <td class="project-title">
                      <a ui-sref="project_detail">{{project.project_name}}</a>
                    </td>
                    <td class="project-title">
                      <p>{{project.created_time}}</p>
                    </td>
                    <td class="project-title">
                      <p>{{project.size}}</p>
                    </td>
                    <td class="project-actions">
                      <a href="" class="btn btn-white btn-sm" ng-click = "select_project($index)" style="color:red"><i class="fa fa-hand-o-up"></i> Select & Start Analysis </a>
                      <a href="" class="btn btn-white btn-sm" ng-click = "delete_project_confirmation_modal($index)"><i class="fa fa-trash"></i> Delete </a>
                    </td>
                </tr>
              </tbody>
            </table>
          </div>
</div>
</div>
</div>



</div>
