
<div class="row" style="margin-top:5px" ng-controller = "view_project_controller">

    <div class="css-animation-box animated fadeInLeft" layout = "row" layout-align="center center">
        <div class="col-lg-12">
            <div>
                <h2> project: <span  style="font-weight: 900;" class="text-navy">{{project_name}}</span></h2>
            </div>
            <dl class="dl-horizontal">
                <dt>Status:</dt> <dd><span class="label" ng-class="{'label-primary': true}">Owned</span></dd>
            </dl>
        </div>
    </div>
    <div class="css-animation-box animated fadeInRight" layout="row" layout-align="center">
        <div class="col-sm-4">
            <dl class="dl-horizontal">
                <dt>Created by:</dt> <dd >{{username}}</dd>
                <dt>Number of tasks:</dt> <dd>  {{num_task}}</dd>
                <dt>Created:</dt> <dd>{{created_time}}</dd>
                <!--<dt>Last Updated:</dt> <dd id="last_updated"></dd>-->
                <dt>Views:</dt> <dd>{{num_of_views}}</dd>
                <dt>Study Design:</dt> <dd> <span class="text-muted" ng-show="study_design1.length>0">{{study_design1}}</span><em ng-show="study_design1.length>0">({{study_design1_type}})</em><span class="text-muted" ng-show="study_design2.length>0"> * {{study_design2}}</span><em ng-show="study_design2.length>0">({{study_design2_type}})</em></dd>
            </dl>
        </div>
        <div class="col-sm-4">
          <dl class="dl-horizontal">
                <dt>Number of Samples:</dt> <dd>{{num_of_samples}}</dd>
            </dl>
            <div id="sample_info_table"></div>
        </div>
        <div class="col-sm-4">
          <dl class="dl-horizontal">
                <dt>Number of Compounds:</dt> <dd>{{num_of_compounds}}</dd>
            </dl>
            <div id="compound_info_table"></div>
        </div>


    </div>

  <md-content class='white-bg'>
    <md-tabs md-dynamic-height="" md-border-bottom="">
      <md-tab label="Tasks">
        <md-content class="md-padding white-bg">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Status</th>
                    <th>Start time</th>
                    <th>Finished Time</th>
                    <th>Calculation Time <em>(sec)</em></th>
                    <th>Function</th>
                    <th>Parameter</th>
                    <th>Error Message</th>
                </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="task in tasks.rows">
                    <td><span ng-class="{'label label-primary':task.value[0]=='finished','label label-plain':task.value[0]=='pending','label label-warning':task.value[0]=='calculating','label label-danger':task.value[0]=='failed'}"><i ng-class="{'fa fa-check':task.value[0]=='finished','fa fa-clock-o':task.value[0]=='pending','fa fa-flash-o':task.value[0]=='calculating','fa fa-warning-o':task.value[0]=='failed'}"></i>{{task.value[0]}}</span></td>
                    <td>{{task.value[1]}}</td>
                    <td>{{task.value[2]}}</td>
                    <td>{{task.value[3].toFixed(2)}}</td>
                    <td>{{task.value[4]}}</td>
                    <td>{{task.value[5]}}</td>
                    <td>{{task.value[6]}}</td>
                  </tr>
                </tbody>
            </table><div ng-show="tasks.rows==0"><p>There is no task for this project yet.</p><p>You could start your analysis from left navigation panel.</p></div>

        </md-content>
      </md-tab>
      <md-tab label="Workflow">
        <md-content class="md-padding white-bg">
          <iframe id="show_workflow" style="height:900px;width:100%" frameBorder="0"><p>Calculating...</p></iframe>
        </md-content>
      </md-tab>
      <md-tab label="Report Generator">
        <md-content class="md-padding white-bg">

          <textarea name="content" rows="20" id="report_editor">
            Loading...
            ============
          </textarea>
        </md-content>
      </md-tab>
      <md-tab label="Auto Data Analysis">
        <md-content class="md-padding white-bg">
          <p>Based on your study design, we designed the following analysis for you,</p>
          <ol>
            <li><p>Missing Value imputation</p>
            <p>Missing values will be imputed on each compound.</p>
            <p>Defination of missing value: <span ng-hide="editing_missing_value">{{missing_value_define}}</span><select ng-show="editing_missing_value" ng-model="missing_value_define">
              <option ng-repeat = "missing_value_define_option in missing_value_define_options" value="{{missing_value_define_option.value}}">{{missing_value_define_option.text}}</option>
            </select></p>
            <p>Imputing Method: <span ng-hide="editing_missing_value">{{missing_value_imputation_method}}</span><select ng-model="missing_value_imputation_method" ng-show="editing_missing_value">
              <option ng-repeat = "missing_value_imputation_method_option in missing_value_imputation_method_options" value="{{missing_value_imputation_method_option}}">{{missing_value_imputation_method_option}}</option>
            </select></p>
            <a ng-click="editing_missing_value = !editing_missing_value"><span ng-hide="editing_missing_value">Edit</span><span ng-show="editing_missing_value">Submit</span></a>


            </li>
            <li><p>Data Processing</p>
            <p>The submited data will be processed with sample normalization, data transformation and data scaling in sequence. The methods are listed below,</p>
            <p>Sample Normalization: <span ng-hide="editing_data_processing">{{sample_normalization_method}}</span><select ng-model="sample_normalization_method" ng-show="editing_data_processing">
              <option value="{{sample_normalization_method_option.value}}" ng-repeat = "sample_normalization_method_option in sample_normalization_method_options">{{sample_normalization_method_option.text}}</option>
            </select></p>
            <p>Data Transformation: <span ng-hide="editing_data_processing">{{data_transformation_method}}</span><select ng-model="data_transformation_method" ng-show="editing_data_processing">
              <option value="{{data_transformation_method_option.value}}" ng-repeat = "data_transformation_method_option in data_transformation_method_options">{{data_transformation_method_option.text}}</option>
            </select></p>
            <p>Data Scaling: <span ng-hide="editing_data_processing">{{data_scaling_method}}</span><select ng-model="data_scaling_method" ng-show="editing_data_processing">
              <option value="{{data_scaling_method_option.value}}" ng-repeat = "data_scaling_method_option in data_scaling_method_options">{{data_scaling_method_option.text}}</option>
            </select></p>
            <a ng-click="editing_data_processing = !editing_data_processing"><span ng-hide="editing_data_processing">Edit</span><span ng-show="editing_data_processing">Submit</span></a>

            </li>
            <li><p>Descriptive Statistics</p>
            <p>Then we'll perform following descriptive statistics for each of the compound. The following statistic will only use the data after sample normalization (not after transformation nor scaling).</p>
            <label for="mean_des" style="font-weight:normal"><input type="checkbox" id="mean_des" ng-model="mean_des">
            mean average</label>, <label for="median_des" style="font-weight:normal"><input type="checkbox" id="median_des" ng-model="median_des">median average</label>, <label for="sd_des" style="font-weight:normal"><input type="checkbox" id="sd_des" ng-model="sd_des">
            standard deviation</label>, <label for="num_outlier_des" style="font-weight:normal"><input type="checkbox" id="num_outlier_des" ng-model="num_outlier_des">
            number of outliers</label>, <label for="fold_change_des" style="font-weight:normal"><input type="checkbox" id="fold_change_des" ng-model="fold_change_des">fold change</label>.
            </li>
            <li><p>Univariate Statistical Analysis</p>
            <p>Using the transformed data, we'll decide to perform Welch t test OR Mann-Whitney U test based on the normality of compounds. If more than half of the compounds after data transformation meet the normality assumption, we'll use Welch t test, otherwise, Mann-Whitney U test.</p>
            <p> We'll perform the comparison between </p>
            <p><span ng-repeat="level in levels">{{level}} <em ng-hide="$last">vs.</em> </span></p>
            </li>
            <li><p>Multivariate Statistical Analysis</p>
            <p>With the scaled data, we'll conduct the Principal Component Analysis and Partial Least Square - Descriminant Analysis.</p>
            <ul>
              <li><p>PCA</p>
              We'll conduct PCA using <span ng-hide="editing_pca">{{algoC}}</span><select ng-show="editing_pca" ng-model="algoC">
                <option ng-repeat="algoC_option in algoC_options" value="{{algoC_option.value}}">{{algoC_option.text}}</option>
              </select> algorithm on the first <span ng-hide="editing_pca">{{num_PC_PCA}}</span><select ng-show="editing_pca" ng-model="num_PC_PCA">
                <option ng-repeat="num_PC_PCA_option in num_PC_PCA_options" value="{{num_PC_PCA_option}}">{{num_PC_PCA_option}}</option>
              </select> PCs. The color of the PCA score plot will be based on the {{study_design1}}. <a ng-click="editing_pca = !editing_pca"><span ng-hide="editing_pca">Edit</span><span ng-show="editing_pca">Submit</span></a>
              </li>
              <li><p>PLS-DA</p>
              We'll then perform PLS-DA as a supervise learning method using the {{study_design1}} as reponse variable. The PLS-DA will be using the <span ng-hide="editing_plsda">{{algoC_plsda}}</span><select ng-show="editing_plsda" ng-model="algoC_plsda">
                <option ng-repeat="algoC_plsda_option in algoC_plsda_options" value="{{algoC_plsda_option.value}}">{{algoC_plsda_option.text}}</option>
              </select> algorithm with <span ng-hide="editing_plsda">{{num_PC_PLSDA}}</span><select ng-show="editing_plsda" ng-model="num_PC_PLSDA">
                <option ng-repeat="num_PC_PLSDA_option in num_PC_PLSDA_options" value="{{num_PC_PLSDA_option}}">{{num_PC_PLSDA_option}}</option>
              </select> latent variables. We'll also perform <span ng-hide="editing_plsda">{{num_perm_PLSDA}}</span><input type="number" ng-show="editing_plsda" ng-model="num_perm_PLSDA">-fold permutation test to validate the PLS-DA model. <a ng-click="editing_plsda = !editing_plsda"><span ng-hide="editing_plsda">Edit</span><span ng-show="editing_plsda">Submit</span></a>
              </li>

            </ul>

            </li>
            <li><p>Compound Visualization</p>
            <p>Using the transformed data, we'll provide the visualization of each compound using</p>
            <label for="boxplot_vis" style="font-weight:normal"><input type="checkbox" id="boxplot_vis" ng-model="boxplot_vis">
            Box-whisker plot</label>, <label for="histogram_vis" style="font-weight:normal"><input type="checkbox" id="histogram_vis" ng-model="histogram_vis">
            Histogram</label>, <label for="barplot_vis" style="font-weight:normal"><input type="checkbox" id="barplot_vis" ng-model="barplot_vis">
            Bar plot</label>.
            </li>
            <li><p>Report</p></li>
          </ol>
           <md-button class="md-raised md-primary">Start Auto Analysis</md-button>
        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>

</div>
