<img src="/ocpu/library/Abib.alpha/www/views/tutorials/two way mixed ANOVA/Slide1.PNG">
<img src="/ocpu/library/Abib.alpha/www/views/tutorials/two way mixed ANOVA/Slide2.PNG">
<img src="/ocpu/library/Abib.alpha/www/views/tutorials/two way mixed ANOVA/Slide3.PNG">
<img src="/ocpu/library/Abib.alpha/www/views/tutorials/two way mixed ANOVA/Slide4.PNG">
<img src="/ocpu/library/Abib.alpha/www/views/tutorials/two way mixed ANOVA/Slide5.PNG">
<img src="/ocpu/library/Abib.alpha/www/views/tutorials/two way mixed ANOVA/Slide6.PNG">